#feedbackcontainer {
	position:fixed;
	right:-610px;
	bottom:-380px;	
	transition-duration: 1.5s;
}

#feedbacklink {
	width:80px;
	height:46px;
	margin-right:4px;
	padding-top:2px;
	float:left; 
	z-index:100;
	border-radius:16px;
	background-color:#2196F3;
	opacity:0.75;
	font-family: Verdana, Geneva, sans-serif; 
	color:#FFFFFF;
	text-align:center;
	cursor:pointer;
}

#modal {
	width:610px; 
	height:430px;
	display:inline-block;
	float:right;
	padding:2px;
	border: solid 3px #2196F3;
	border-radius: 10px;
}

#modal iframe{border:none;}